.main-content-wrapper{
    grid-template-columns: 60fr 40fr;
    grid-gap: 5rem;
}
.dr-container{
    padding: 2rem;
    border-radius: 20px;
    position: relative;
    background: url("../../assets/images/dr-background.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.greetings-text{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
}
.dr-name{
    font-size: 2.6rem;
    font-weight: 700;
}
.dr-desc{
    font-size: 1.6rem;
    font-weight: 400;
}
.dr-image{
    position: absolute;
    bottom: 0;
    right: 3%;
}

.stats-box .stats-cards{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-block: 3rem;
}
.stats-box .stats-cards .stat{
    flex-grow: 1;
    padding: 2rem;
    border-radius: 2rem;
    color: #fff;
}

.stats-box .stats-patients{
    background: linear-gradient( to top, #9F70FE, #C0A3FD );
    position: relative;
}
.stats-box .stats-appointments{
    background: linear-gradient( to top, #9F70FE, #C0A3FD );
    position: relative;
}
.stats-box .stats-consulted{
    background: linear-gradient( to top, #9F70FE, #C0A3FD );
    position: relative;
}
.stats-box .stats-patients::after,
.stats-box .stats-appointments::after,
.stats-box .stats-consulted::after{
    content: url("/assets/images/state-backgeround-image-1.svg");
    position: absolute;
    top: 0;
    right: 0;
}
.stats-box .number{
    font-size: 3rem;
    font-weight: 700;
    display: block;
    color: #fff;
    margin-top: 2.3rem;
}

.stats-box .stat-title{
    font-size: 1.8rem;
    font-weight: 600;
}
.stats-box .date-utill{
    font-size: 1.2rem;
    font-weight: 500;
}


.booking-box .calender-box{
    text-align: center;
    position: relative;
}
.daterangepicker.openscenter:before{
    display: none;
}
.calender-hidden-input{
    position: absolute;
    top: 0;
    left: 0;
}

/* Flate picker design overriding  */
.flatpickr-calendar.inline,
.flatpickr-rContainer{
    width: 100%;
}
.flatpickr-weekdays{
    border-bottom: 1px solid var(--color-gray2);
}
.dayContainer{
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    align-items: center;
    justify-items: center;
}
.flatpickr-months{
    padding-block: 1.5rem;
}
span.flatpickr-weekday{
    font-family: "Poppins";
    font-size: 1.6rem;
    font-weight: 500;
    color: #000 !important;
}
.flatpickr-days{
    width: 100% !important;
}
.today, .flatpickr-day.selected{
    width: 4rem !important;
    background-color: var(--color-primary) !important;
    border: none;
}
.flatpickr-day:focus,
.flatpickr-day:hover{
    width: 4rem !important;
    background-color: lightgray !important;
    border: none;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month{
    right: 20px !important;
    left: auto !important;
}

.total-appointments{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    margin-block: 3rem;
    font-family: "Poppins";
    font-size: 1.4rem;
    font-weight: 400;
}
.total-appointments .total{
    color: #96A0B5;
}
.booking-box{
    border: 1px solid #E5EBF0;
    border-radius: 20px;
    overflow: hidden;
}
.flatpickr-calendar.inline{
    box-shadow: none;
    border-bottom: 1px solid #E5EBF0;
}